#p1::before {
    content: 'przed elementem ';
    color: red;
}
#p2::after {
    content: ' po elemencie';
    color: blue;
}
#p3::first-letter {
    color: red;
}
#p4::first-line {
    color: yellow;
}