*{
    box-sizing: border-box;
}
body{
    font-family: 'lato', sans-serif;
    color: #291f1a;
    font-weight: 300;
}
#main-nav{
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 2;
}
#main-nav ul{
    margin: 0;
    float: right;
}
#main-nav ul li{
    display: inline;
    padding: 20px 40px;
}
#main-nav ul li a{
    color: greenyellow;
    text-decoration:none;
}
#main-header{
    background-image: url(img/header-background.jpg);
    background-size: cover;
    height: 600px;
    color: #fff;
}
#main-header .header-content{
    padding: 30vh;
    text-align: center;
}
#main-header .header-content h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 100px;
}
#main-header .header-content h1 span{
    color: #1ac056;
    font-weight: 300;
}
#main-header .header-content h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 30px;
}