*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #f5fffd;
}
form{
    color: rgb(0,3,15);
    width: 600px;
    height: 300px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 170px;
    font-size: 12px;
    padding: 10px;
}
#header{
    font-size: 10px;
    line-height: 18px;
    
}
#header h2{
    font-style: italic;
    color: rgba(0,3,15,0.4);
}
form fieldset{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid rgba(0,3,15,0.4);
}
form input[type="tekst"], form input[type="tel"], form input[type="email"], form input[list] {
    width: 250px;
}
form input[type="number"]{
    width: 150px;
}
form fieldset div {
    margin-left: 30px;
}
form input[type="submit"]{
    margin-top: 5px;
}